@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
*{ 
    font-family:"Raleway",sans-serif; }

body{
	margin-left: 50px;
}
img{
	object-fit: cover;

}
/* DEBUT NAV */
nav{
	display: flex;
	flex-wrap: wrap;
	justify-content:  space-between;
	padding-top: 20px;
   
}
nav .logo{
	padding-left: 25px;
}


.links a{
	font-size: 16px;
	text-decoration :none;
	color :#000;
	font-weight: 500;
	align-items: center;
	padding-top: 25px;
	margin-right: 20px;
}

.links a:hover {
	color: rgb(0, 101, 252);
	border-color: rgb(0, 101, 252);
}
.links:hover{
	color: rgb(0, 101, 252);
	
}
/* FIN DU NAV */
/*TITRE*/
.title h1{
    margin-top: 20px;
    margin-bottom: -7px;
    font-weight :bold;
    font-size: 22px;
}
.title h2{
	font-weight: initial;
	font-size: 16px;
	
}
/*FIN DU TITRE*/
/* DEBUT DU FORMULAIRE */
.form{
	display: flex;
}

.form i{
	padding-top :15.9px;
	padding-left: 18px;
	padding-right: 15px;
	padding-bottom: 18px;
	background-color: rgb(242, 242, 242);
	border-radius: 16px 0 0 16px;
	margin-right: -6px;
}

.form input{
   padding: 40px;
   padding-top: 17px;
   padding-bottom: 17px;
   border: 1px solid rgb(217,217,217);
}

.form input::placeholder{
	font-size: 17px;
	font-weight: bold;
}

.form button{
	padding: 17px;
	padding-top: 12px;
	padding-bottom: 15px;
	background-color: rgb(0, 101, 252);
	color: #fff;
	margin-left: -6px;
	font-weight: bold;
	border-radius: 0 16px 16px 0;
	border: 2px solid rgb(0, 101, 202);
	font-size: 17px;

}
.form .fa-solid.fa-magnifying-glass{
	background-color: rgb(0, 101, 252);
	color: #fff;
	display: none;
}
/* FIN DU FORMULAIRE */
/* DEBUT DES FILTRES  */
.filters{
   display: flex;
   gap : 20px;
   align-items:  center;
   flex-wrap: wrap;
   font-weight: bold;
   font-size: 20px;
}

.filters p{
	font-size: 20px;
}
.filters .filter {
	border:  2px solid lightgrey;
	border-radius: 17px;
}

.filter i{
	color: rgb(0, 101, 252);
	background-color: rgb(222, 232, 252);
	padding: 12px;
	border-radius: 50%;
	margin: -3px;

}

.filter span {
	padding: 18px;
	font-size: 18px;
}


/* FIN DES FILTRES */
/*info*/
.info{
	display: flex;
	align-items:  center;
	gap: 18px;
	margin-top: 20px;
}
/* DEBUT INFO */
.info i{
	color: rgb(0, 101, 252);
	height: 8px;
	width: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:  1px solid lightgrey;
	padding: 6px;
	border-radius: 50%;
}
.info p{
	font-size: 18px;
}
/* fin info */


/*DEBUT HEBERGEMENTS*/
.hostings 
{  display: inline-block;
	flex-wrap: wrap;
   background-color: rgb(242, 242, 242);
   padding: 30px;
   border-radius: 30px;
}

.hostings h2{
	font-size: 22px;
}
.hostings .hosting{
	display: flex;
	flex-wrap: wrap;
	grid-gap: 20px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.hostings .hosting .inn {
	margin-bottom: 40px;
	background-color: #fff;
	border-radius: 15px;
	padding: 5px;
}

.hostings .hosting .inn img{
	border-radius: 10px 10px 0 0;
	height: 120px;
	width: 240px;
	margin-bottom: -7px;

}

.hostings .hosting .inn h2{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: -10px;
}

.hostings .hosting .inn h3{
	font-size: 14px;
	margin-bottom: 2px;
	font-weight: 500;

}
.blue{
	color: rgb(0, 101, 252);
}

.grey{
	color: rgb(217, 217,217);
}

.hostings a{
	text-decoration: none;
	font-weight: bold;
	color: #000;

}


/*FIN DES HEBERGEMENTS*/


/* LES PLUS POPULAIRES */
.apart{
	width: 100%;
	margin: 0 auto;
}

.populars {
	display: inline-block;
	background-color: rgb(242,242, 242);
	border-radius: 30px;
	margin-left: 20px;
	padding: 45px;
	padding-bottom: 0;
	padding-top: 35px;
}
.populars .fas.fa-chart-line{
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;

	

}
.populars .chart{
	display:  flex;
	align-items: center;
	justify-content: space-between;
}

.populars h2{
	font-size: 22px;
	}

.populars .popular .hostel{
	display: flex;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 30px;
	background-color: #fff;
   padding-top: 7px;
   width: 100%;

}

.populars .popular .hostel img{
	border-radius: 15px 0 0 15px;
	height: 140px;
	width: 40%;
}

.populars .popular .hostel h2{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: -10px;
}

.populars .popular .hostel h3{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;

}
.populars .popular .hostel .right{
	padding-top: 10px;
	margin-left: 10px;
}
.populars .popular .hostel .right .note{
	display: flex;
}
/* FIN DES PLUS POPULAIRES */

/* DEBUT ACTIVITES */
.activities{
	margin-top: 60px;
	margin-bottom: 100px;
}
.activities .activity {
	display: grid;
	grid-gap: 15px;
}

.large{
	grid-row: 1/4;
}
.medium{
	grid-row: 1/3;
}
.small{
	grid-row: 3/4;
}
.place5{
	grid-row: 1/2;
}
.place6{
	grid-row: 2/4;
}
.large img{
	width: 100%;
	height: 412px;
}
.medium img{
	width: 100%;
	height: 196px;
}
.small img{
	width: 100%;
	height: 128px;
} 
.activities .activity img{
	border-radius: 15px 15px 0 0;
}
.activities .activity .place{
	border-radius: 15px ;
	border: 1px solid lightgrey;
}
.activities .activity h2{
	font-size: 16px;
	font-weight: 800;
	width: 290px;
	padding: 10px 0px 0px 10px;
	}
/* FIN DES ACTIVITES */
/* FOOTER */
footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: rgb(242, 242, 242);
   align-items: center;
   margin-left: -50px;
   font-size: 20px;
   margin-right: -10px ;

}
 
footer .footer{
	margin: 0 auto;
	width: 93%;
	display: flex;
	justify-content: space-between;
}

footer .foot{
	width: 250px;
}
footer li{ 
	list-style: none;
	margin-left: -40px;
	margin-bottom: 10px;

}

/* FIN FOOTER */

/* media queries */
@media (min-width: 801px){
	.links a{
		border-top:  2px solid lightgrey;
	}
}
@media all and (max-width: 800px)
{
	.nomFiltre{
		width: 100%;
		margin-bottom: -15px;
	}
	.form input{
		width: 40%;

		}
	nav{
		display: flex;
		flex-direction: column;
	}
	.logo {
	    text-align: center;
	}
	.links{
		display: flex;
		}
   .links a{
	text-align: center;
	width: 50%;
	border-bottom:  2px solid lightgrey;
	padding-bottom: 5px ;
      }

	.form button{
		display: none;
	}
	.apart{
	display: flex;
   flex-direction: column-reverse;
   }

	.form .fa-solid.fa-magnifying-glass{
		color:#fff ;
		display: inline;
		background-color: rgb(0, 101, 252);
		border-radius: 0 15px 15px 0;
		margin-left: -6px;
	}
	.hostings{
		background-color: #fff;
		width: 100%;
    }
    .hostings .hosting .inn img{
    	width: 100%;
    	height: 100%;
    }
    .img{
    	width: 500px;
    	height: 200px;
    	overflow: hidden;
    }
	.hostings .hosting .inn{
		box-shadow: 0 0 10px lightgrey;

	}

	.populars .popular .hostel{
		width: 100%;
	}
   	.activities .activity{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column ;
		justify-content: center;
   }

  	.activities .activity img {
		width: 100%;
		height: 150px;
		object-fit: cover;
		
   }
   .activities .activity .place{
   	margin-left: -40px;
   }
   footer .footer{
	   display: flex;
	   flex-direction: column;

   } 
}
@media all and (max-width: 1280px)
{
	  .populars .popular .hostel{
		display: flex;
		align-self: stretch;
   }
  
}

@media all and (min-width: 1040px) and (max-width: 1385px)
	{
	.populars > *{
		display: flex;
		align-self: stretch;
   }
}

@media all and (max-width: 1431px){
   .hostings{
	   width: 91%;
	   box-sizing: border-box;
   }

   .hostings h1{
	display: flex;
	justify-content: center;
   }

   .hostings .hosting{
		display: flex;
		align-self: stretch;
		justify-content: center;
   }
   
   .hostel {
	   margin-right: 50px;
   }
   
   .populars{
	   width: 91%;
	   margin-top: 50px;
	   margin-left: 0;
	   box-sizing: border-box;
	}
	}

@media all and (min-width: 800px) and (max-width: 1324px){
	.activities .activity{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;


   }
	.activities .activity img {
		width: 100%;
		height: 150px;
		object-fit: cover;

	}
	.populars .popular .hostel{
      width: 50%;
   
}
   }
 @media (min-width: 2000px){
 	header{
 		margin-left: 10%;
		margin-right: 20%;

 	}
	main{
		margin-left: 10%;
		margin-right: 20%;
	}

	body {
		visibility: none;
	}
footer .footer {
	width: 1440px;
	margin-left: 12%;
}}
